<div class="main user-show">
  <div class="container">
    <ul class="user-tabs">
      <li class="active"><a href="#tab1">ダウンロード　可能投稿</a></li>
      <li><a href="#tab2">ダウンロード　許可待ち</a></li>
    </ul>

    <div class="tab-content" id="tab1">
      <% @applies.each do |app| %>
        <% if app.user_id == @current_user.id && app.request_id.present? %>
          <% movie = Movie.find_by(id: app.movie_id, user_id: app.request_id) %>
            <% if movie %>
              <div class="users-index-item">
                <div class="user-left">
                  <%= image_tag("/user_images/#{movie.user.image_name}") %>
                </div>
                <div class="user-right">
                  <div class="post-user-name">
                    <%= link_to(movie.user.name, "/users/#{movie.user.id}") %>
                  </div>
                  <div class="movie-contents">
                    <%= video_tag(movie.video.to_s, loop: true, autoplay: true, muted: true, controls: true) %>
                    <%= link_to(movie.body, "/movies/#{movie.id}") %>
                  </div>
                </div>
                <div class="destroy">
                  <%= link_to "ダウンロード", movie.video.url, download: true %>
                </div>
              </div>
          <% end %>

          <% post = Post.find_by(id: app.post_id, user_id: app.request_id) %>
          <% if post %>
            <div class="users-index-item">
              <div class="user-left">
                <%= image_tag("/user_images/#{post.user.image_name}") %>
              </div>
              <div class="user-right">
                <div class="post-user-name">
                  <%= link_to(post.user.name, "/users/#{post.user.id}") %>
                </div>
                <div class="post-content">
                  <div class="post-title">
                    <%= link_to(post.title, "/posts/#{post.id}") %>
                  </div>
                  <div>
                    <%= link_to(post.content, "/posts/#{post.id}") %>
                  </div>
                </div>
              </div>
              <div class="destroy">
                <%= "利用可能" %>
              </div>
            </div>
          <% end %>

          <% image = Image.find_by(id: app.image_id, user_id: app.request_id) %>
          <% if image %>
            <div class="users-index-item">
              <div class="user-left">
                <%= image_tag("/user_images/#{image.user.image_name}") %>
              </div>
              <div class="user-right">
                <div class="post-user-name">
                  <%= link_to(image.user.name, "/users/#{image.user.id}") %>
                </div>
                <div class="image-contents">
                  <%= image_tag(image.ctype.to_s, :size => "400x266") %>
                  <div class="image-title">
                    <%= link_to( image.image_name, "/images/#{image.id}") %>
                  </div>
                </div>
              </div>
              <div class="destroy">
                <%= link_to "ダウンロード", image.ctype.url, download: true %>
              </div>
            </div>
          <% end %>

          <% music = Music.find_by(id: app.music_id, user_id: app.request_id) %>
          <% if music %>
            <div class="users-index-item">
              <div class="user-left">
                <%= image_tag("/user_images/#{music.user.image_name}") %>
              </div>
              <div class="user-right">
                <div class="post-user-name">
                  <%= link_to(music.user.name, "/users/#{music.user.id}") %>
                </div>
                <div class="image-content">
                  <audio src="<%= "#{music.file}" %>" controls="">
                    <a src="<%= "#{music.file}" %>">ダウンロード</a>
                  </audio>
                  <div class="image-body">
                    <%= link_to(music.body, "/musics/#{music.id}" ) %>
                  </div>
                </div>
              </div>
              <div class="destroy">
                <%= link_to "ダウンロード", music.file.url, download: true %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="tab-content" id="tab2">
      <% @applies.each do |app| %>
        <% unless app.request_id %>
          <% if app.user_id != @current_user.id %>
            <% movie = Movie.find_by(id: app.movie_id, user_id: @current_user.id) %>
              <% if movie %>
              <div class="users-index-item">
                <div class="form">
                  <div class="user-left">
                    <%= image_tag("/user_images/#{movie.user.image_name}") %>
                  </div>
                  <div class="user-right">
                    <div class="post-user-name">
                      <%= link_to(movie.user.name, "/users/#{movie.user.id}") %>
                    </div>
                    <div class="movie-contents">
                      <%= video_tag(movie.video.to_s, loop: true, autoplay: true, muted: true, controls: true) %>
                      <%= link_to(movie.body, "/movies/#{movie.id}") %>
                      <div>
                        <ul class="header-menus"> 
                          <li>
                            <%= form_for app, url: "/movies/#{movie.id}/applies/update", method: :post do |f| %>
                              <%= f.hidden_field :movie_id, value: app.movie_id %>
                              <%= f.submit "承認" %>
                            <% end %>
                          </li>
                          <li>
                            <%= form_for app, url: "/movies/#{movie.id}/applies", method: :delete do |f| %>
                              <%= f.hidden_field :movie_id, value: app.movie_id %>
                              <%= f.submit "却下" %>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>

            <% music = Music.find_by(id: app.music_id, user_id: @current_user.id) %>
              <% if music %>
                <div class="form">
                  <div class="user-left">
                    <%= image_tag("/user_images/#{music.user.image_name}") %>
                  </div>
                  <div class="user-right">
                    <div class="post-user-name">
                      <%= link_to(music.user.name, "/users/#{music.user.id}") %>
                    </div>
                    <div class="post-content">
                      <audio src="<%= "#{music.file}" %>" controls="">
                        <a src="<%= "#{music.file}" %>">ダウンロード</a>
                      </audio>
                      <%= link_to(music.body, "/musics/#{music.id}" ) %>
                      <div>
                        <ul class="header-menus"> 
                          <li>
                            <%= form_for app, url: "/musics/#{music.id}/applies/update", method: :post do |f| %>
                              <%= f.hidden_field :music_id, value: app.music_id %>
                              <%= f.submit "承認" %>
                            <% end %>
                          </li>
                          <li>
                            <%= form_for app, url: "/musics/#{music.id}/applies", method: :delete do |f| %>
                              <%= f.hidden_field :music_id, value: app.music_id %>
                              <%= f.submit "却下" %>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>

            <% post = Post.find_by(id: app.post_id, user_id: @current_user.id) %>
              <% if post %>
                <div class="form">
                  <div class="user-left">
                    <%= image_tag("/user_images/#{post.user.image_name}") %>
                  </div>
                  <div class="user-right">
                    <div class="post-user-name">
                      <%= link_to(post.user.name, "/users/#{post.user.id}") %>
                    </div>
                    <div class="post-content">
                      <div class="post-title">
                        <%= link_to(post.title, "/posts/#{post.id}") %>
                      </div>
                      <div>
                        <%= link_to(post.content, "/posts/#{post.id}") %>
                      </div>
                      <div>
                        <ul class="header-menus"> 
                          <li>
                            <%= form_for app, url: "/posts/#{post.id}/applies/update", method: :post do |f| %>
                              <%= f.hidden_field :post_id, value: app.post_id %>
                              <%= f.submit "承認" %>
                            <% end %>
                          </li>
                          <li>
                            <%= form_for app, url: "/posts/#{post.id}/applies", method: :delete do |f| %>
                              <%= f.hidden_field :post_id, value: app.post_id %>
                              <%= f.submit "却下" %>
                            <% end %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>

            <% image = Image.find_by(id: app.image_id, user_id: @current_user.id) %>
              <% if image %>
                <div class="form">
                  <div class="user-left">
                    <%= image_tag("/user_images/#{image.user.image_name}") %>
                  </div>
                  <div class="user-right">
                    <div class="post-user-name">
                      <%= link_to(image.user.name, "/users/#{image.user.id}") %>
                    </div>
                    <div class="image-contents">
                      <%= image_tag(image.ctype.to_s, :size => "400x266") %>
                    <div calss="post-title">
                      <%= link_to( image.image_name, "/images/#{image.id}") %>
                    </div>
                  </div>
                  <div>
                    <ul class="header-menus"> 
                      <li>
                        <%= form_for app, url: "/images/#{image.id}/applies/update", method: :post do |f| %>
                          <%= f.hidden_field :image_id, value: app.image_id %>
                          <%= f.submit "承認" %>
                        <% end %>
                      </li>
                      <li>
                        <%= form_for app, url: "/images/#{image.id}/applies", method: :delete do |f| %>
                          <%= f.hidden_field :image_id, value: app.image_id %>
                          <%= f.submit "却下" %>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>