<div class="main posts-index">
  <div class="post-container">
    <% @movies.each do |movie| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{movie.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(movie.user.name, "/users/#{movie.user.id}") %>
          </div>
        </div>
          <div class="movie-contents">
            <%= video_tag(movie.video.to_s, loop: true, autoplay: true, muted: true) %>
            <%= link_to( movie.body, "/movies/#{movie.id}" ) %>
          </div>
<<<<<<< HEAD
=======

>>>>>>> origin/main
        <div class="post-like">
          <% if Like.find_by(user_id: @current_user.id, movie_id: movie.id) %>
            <%= link_to("/likes/#{movie.id}/movie_destroy", method: :post, class: "like-button liked", data: { resource_id: movie.id, resource_type: "movie" }) do %>
              <span class="fa fa-heart liked-btn"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{movie.id}/movie_create", method: :post, class: "like-button unliked", data: { resource_id: movie.id, resource_type: "movie" }) do %>
              <span class="fa fa-heart unliked-btn"></span>
            <% end %>
          <% end %>    
          <%= Like.where(movie_id: movie.id).count %>
        </div>
      </div>
    <% end %>
  </div>
</div>
