<div class="main posts-show">
  <div class="container">
    <div class="images-show-item">
      <div class="post-left">
        <%= image_tag("/user_images/#{h(@user.image_name)}") %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(@user.name, "/users/#{@user.id}") %>
        </div>
      </div>
      <div class="movie-contents">
        <%= video_tag(@movie.video.to_s, loop: true, autoplay: true, muted: true, controls: true) %>
        <div class="image-body">
          <p>タイトル</p>
          <div><%= @movie.body %></div>
          <p>概要欄</p>
          <div><%= @movie.content %></div>
        </div>
      </div>
      <div class="post-time">
      <%= @movie.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, movie_id: @movie.id) %>
      <%= link_to("/likes/#{@movie.id}/movie_destroy", method: :post, class: "like-button liked", data: { resource_id: @movie.id, resource_type: "movie" }) do %>
        <span class="fa fa-heart liked-btn"></span>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{@movie.id}/movie_create", method: :post, class: "like-button unliked", data: { resource_id: @movie.id, resource_type: "movie" }) do %>
        <span class="fa fa-heart unliked-btn"></span>
      <% end %>
    <% end %>

    <%= Like.where(movie_id: @movie.id).count %>
    <% if @movie.user_id == @current_user.id %>
      <div class="post-menus">
        <%= link_to("編集", "/movies/#{@movie.id}/edit") %>
      </div>
    <% end %>
    </div>
  </div>
  <% if @movie.user_id != @current_user.id %>
      <div class="destroy">
        <% if Apply.find_by(request_id: @movie.user_id, movie_id: @movie.id) %>
          <%= link_to("利用可能", "/applies/#{@user.id}/index") %>
        <% elsif Apply.find_by(movie_id: @movie.id) %>
          <%= "申請中" %>
        <% else %>
          <% if flash[:success] == "申請が送信されました" %>
            <%= "申請中" %>
          <% else %>
            <%= form_for @apply, url: "/movies/#{@movie.id}/applies", method: :post do |f| %>
              <%= f.hidden_field :movie_id, value: @movie.id %>
              <%= f.submit "申請する" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
</div>
