<% @another_entries.each do |entry| %>
  <% message = entry.room.messages.last %>
  <%= link_to room_path(entry.room) do %>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="chat-avatar">
            <%= link_to user_path(entry.user) do %>
              <%= image_tag entry.user.avatar_image %>
            <% end %>
          </div>
          <div class="chat-user-name">
            <%= entry.user.display_name %>
          </div>
          <div class="chat-text">
            <%= message.body if message %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
