<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集</h1>
    <div class="form">
      <%= form_tag("/posts/#{@post.id}/update") do %>
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
             <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル</p>
          <input type="text" name="title" value="<%= @post.title %>">
          <p>歌詞</p>
          <textarea name="content"><%= @post.content %></textarea>
          <p>概要欄</p>
          <textarea name="body"><%= @post.body %></textarea>
          <input type="submit" value="保存">
        </div>
      <% end %>
    </div>
    <a href="#" onclick="confirmAndDelete(<%= @post.id %>, 'post')">
      <div class="destroy">
        <%= "投稿削除" %>
      </div>
    </a>
  </div>
</div>
