<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-left">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
      </div>
      <div class="post-user-name">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>歌詞</p>
      <div>
        <%= @post.content %>
      </div>
      <p>概要欄</P>
      <div>
        <%= @post.body %>
      </div>
      <div class="post-time">
        <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
      </div>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to(destroy_like_path(@post.id), method: :post, class: "like-button liked", data: { resource_id: @post.id, resource_type: "post" }) do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= link_to(create_like_path(@post.id), method: :post, class: "like-button unliked", data: { resource_id: @post.id, resource_type: "post" }) do %>
          <span class="fa fa-heart unliked-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", edit_post_path(@post.id)) %>
          <%= link_to("削除", post_path(@post.id), method: :delete) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
