<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="image-contents">
        <audio src="<%= @music.file %>" controls="">
          <a href="<%= @music.file %>">ダウンロード</a>
        </audio>

        <div class="image-body">
          <p>タイトル</p>
          <div>
            <%= @music.body %>
          </div>
          <p>概要欄</p>
          <div>
            <%= @music.content %>
          </div>
        </div>
      </div>
      <div class="post-time">
        <%= @music.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, music_id: @music.id) %>
        <%= link_to(music_destroy_like_path(@music.id), method: :post, class: "like-button liked", data: { resource_id: @music.id, resource_type: "music" }) do %>
          <span class="fa fa-heart liked-btn"></span>
        <% end %>
      <% else %>
        <%= link_to(music_create_like_path(@music.id), method: :post, class: "like-button unliked", data: { resource_id: @music.id, resource_type: "music" }) do %>
          <span class="fa fa-heart unliked-btn"></span>
        <% end %>
      <% end %>

      <%= Like.where(music_id: @music.id).count %>
      <% if @music.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/musics/#{@music.id}/edit") %>
          <%= link_to("削除","/musics/#{@music.id}/destroy") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
